light(color) {
  lighten(color, 80%)
}
lightest(color) {
  lighten(color, 90%)
}
dark(color) {
  darken(color, 20%)
}
darkest(color) {
  darken(color, 40%)
}

$textColor = #333333;
$static = #999999;
$inputStaticBorder = #D8D8D8;

$active = #675FDA;
$activeLight = light($active);
$activeLightest = lightest($active);
$activeDark = dark($active);
$activeDarkest = darkest($active);

$error = #c82a72;
$errorLight = light($error);
$errorLightest = lightest($error);
$errorDark = dark($error);
$errorDarkest = darkest($error);

$inactive = #d8d8d8;

$inputAnimationDuration = 100ms;
$inputAnimationType = 'easy-in-out'
$inputTitleSize = 14px;
$FilledInputTitleSize = 12px;
$inputTextSize = 14px;
$inputErrorSize = 12px;